# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
dist/
build/
*.egg

# Entorno virtual
venv/
env/
ENV/
env.bak/
venv.bak/

# Archivos de configuración de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de configuración de sistema
.DS_Store
Thumbs.db

# Archivos de seguridad
*.env
*.env.*
